.main {
  display: block;
}

.history-title {
  margin: 0;
  text-align: center;
  font-size: xx-large;
  padding: 2rem;
}

.history-entries {
  margin: auto;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 30px;
  justify-content: center;
}
