/* =======================
   Variables de colores
   ======================= */
:root {
  --color-lilac: #bd97cb;
  --color-purple: #5e376d;
  --color-cream: #f3edd2;
  --color-pewter: #747080;
  --color-orange: #f4541c;
}

/* =======================
   Header principal
   ======================= */
.header {
  display: flex;
  flex-direction: row;

  background: linear-gradient(
    124deg,
    var(--color-purple) 20%,
    var(--color-lilac) 96%
  );

  color: var(--color-cream);
  min-height: 80px;
  position: relative;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  padding: 0 10px;
}

.divisor {
  display: none;
  border: none;
  height: 2px;
  width: 100%;
  background-color: rgba(243, 237, 210, 0.4);
}

.logo {
  flex-basis: 25%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  margin-right: 50px;
  font-family: "Noto Serif", serif;
  font-size: 0.9rem;
  letter-spacing: 0.5rem;
  color: var(--color-cream);
  transition: transform 0.2s ease, color 0.3s ease;
}

.history-favourites-container {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;

  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: var(--color-cream);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.3);

  transition: transform 0.2s ease, color 0.3s ease;
}

.logo:hover {
  color: var(--color-orange);
  transform: scale(1.03);
}

.brand-logo {
  height: 80px;
  width: 80px;
}

.nav-link-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
  gap: 30px;
}

.nav-link-text {
  cursor: pointer;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: var(--color-cream);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, color 0.3s ease;
}

.nav-link-text:hover {
  color: var(--color-orange);
  transform: scale(1.03);
}

.favourites {
  min-width: 150px;
  flex: 0 0 auto;
  cursor: pointer;
  font-family: "Noto Serif", serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: var(--color-cream);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, color 0.3s ease;
}

.favourites:hover {
  color: var(--color-orange);
}

.history-icon {
  margin-right: 50px;
  cursor: pointer;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: var(--color-cream);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, color 0.3s ease;
}

.history-icon:hover {
  color: var(--color-orange);
  transform: scale(1.03);
}

@media (max-width: 1024px) {
  .logo {
    font-size: 0.8rem;
    width: 40%;
    margin-right: 10px;
  }

  .nav-link-text {
    margin-right: 0;
    font-size: 1rem;
  }

  .brand-logo {
    height: 40px;
    width: 40px;
  }

  .nav-link-container {
    width: 60%;
    gap: 15px;
  }

  .favourites {
    font-size: 0.9rem;
  }
}

@media (max-width: 960px) {
  .header {
    flex-wrap: wrap;
  }

  .history-favourites-container {
    flex-basis: 100%;
    margin: 10px 20px 20px 0;
  }
}

@media (max-width: 767px) {
  .divisor {
    display: block;
  }

  .logo {
    flex-basis: 100%;
    font-size: 0.85rem;
    width: 100%;
    margin-right: 0;
  }

  .nav-link-container {
    flex-basis: 100%;
    width: 100%;
    justify-content: space-around;
    margin: 5px 0;
  }

  .brand-logo {
    height: 40px;
    width: 40px;
  }
  .nav-link {
    font-size: 0.85rem;
  }
}
